{% extends "base/base_email.html" %}

{% load static %}	

{% block title %}
Réinitialisation de votre mot de passe
{% endblock %}

{% block content %}
<!--begin:Email content-->
<div style="padding-bottom: 30px;">
	Bonjour,
</div>
<div style="padding-bottom: 30px;">Nous avons reçu une demande de réinitialisation de votre mot de passe. Pour effectuer cette action, merci de cliquer sur le bouton ci-dessous :</div>
<div style="padding-bottom: 40px; text-align:center;">
	<a href="{% url 'base:password_reset_confirm' uidb64=uid token=token %}" 
	   rel="noopener" 
	   style="text-decoration:none; display:inline-block; text-align:center; padding:0.75575rem 1.3rem; font-size:0.925rem; line-height:1.5; border-radius:0.35rem; color:#ffffff; background-color:#009EF7; border:0; margin-right:0.75rem!important; font-weight:600!important; outline:none!important; vertical-align:middle;" 
	   target="_blank">Réinitialiser votre mot de passe</a>
</div>
{% comment %} 
<div style="padding-bottom: 30px">This password reset link will expire in 60 minutes. If you did not request a password reset, no further action is required.</div> 
{% endcomment %}
<div style="border-bottom: 1px solid #eeeeee; margin: 15px 0;"></div>
<div style="padding-bottom: 50px; word-wrap: break-all;">
	<p style="margin-bottom: 10px;">Si ce bouton ne fonctionne pas, veuillez copier le lien ci-dessous dans votre navigateur :</p>
	<a href="{% url 'base:password_reset_confirm' uidb64=uid token=token %}" 
	   rel="noopener" 
	   target="_blank" 
	   style="text-decoration:none; color: #009EF7;">{% url 'base:password_reset_confirm' uidb64=uid token=token %}</a>
</div>
<!--end:Email content-->
{% endblock %}
